# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IntelliJ / JetBrains
.idea/
*.iml
*.iws
*.ipr
out/

# macOS
.DS_Store

# Logs
*.log

# Optional: VS Code
.vscode/

# Optional: OS / editor junk
*.swp
*~